<div class="w-full h-[50vh] z-[-1] absolute">
    <img src="assets/img/bg.png" alt="" class="w-full h-3/4">
</div>

<header class="sub-container">
    <div class="flex justify-end gap-4">
        <app-button content="Important Safety Information" styleClass="rounded-b-lg"></app-button>
        
        <app-button content="Prescribing Information" styleClass="rounded-b-lg"></app-button>
    </div>

    <div class="flex justify-between items-center">
        <a href="#">
            <img src="assets/img/logo.png" alt="" class="w-60 h-full" >
        </a>
    
        <h3 class="text-white w-1/2 text-xl">FINTEPLA is indicated for the treatment of seizures associated with Lennox-Gastaut syndrome (LGS) in patients 2 years of age and older.</h3>
    </div>
</header>